html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
    margin-bottom: 60px;
}


#clientesTable {
    width: 100%;
    margin-top: 20px;
}

    #clientesTable td, #clientesTable th {
        padding: 10px;
        text-align: left;
    }

    /* Ajustes para columnas */
    #clientesTable .column-id {
        width: 10%;
    }

    #clientesTable .column-name {
        width: 30%;
    }

    #clientesTable .column-pais {
        width: 20%;
    }

    #clientesTable .column-telefono {
        width: 40%;
    }

/* Estilos para responsividad */
@media screen and (max-width: 1024px) {
    #clientesTable .column-id,
    #clientesTable .column-name,
    #clientesTable .column-pais,
    #clientesTable .column-telefono {
        width: auto; /* O un porcentaje más pequeńo */
    }
}
